.container{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 25px;
  width: 60%;
  height: 92vh;
  margin-bottom: 25px;
  background-color: white;
  border: 1px solid #555;
  border-radius: 3px;
  transition: 1s ease;
  overflow-y: scroll;
}

.topBar{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 15px;
}

.title {
  width: 50%;
  margin: 0;
  color: #222;
  font-size: 1.5em;
  font-weight: 700;
}

.closeMobile{
  position: absolute;
  top: 22px;
  right: 22px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-size: cover;
}

.actions{
  display: flex;
}

.button{
  display: flex;
  align-items: center;
  margin-left: 15px;
  padding: 10px 20px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--main-blue);
  border: 1px solid var(--main-blue);
  border-radius: 3px;
  transition: background-color 0.3s ease;
} 

.button::before{
  content: "";
  display: table;
  margin-right: 10px;
  background-size: cover;
}

.button::before{
  width: 10px;
  height: 10px;
  background-image: url("https://find-your-job-files.s3.sa-east-1.amazonaws.com/icons/external-link.png");
  filter: invert(100%);
}

.button:hover{
  background-color: var(--dark-blue);
}

.info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 15px 15px;
  box-shadow: 0 10px 5px var(--white);
}

.companyName{
  display: block;
  margin: 0;
  font-size: 1.1em;
  color: var(--light-gray);  
}

.location{
  color: var(--black);
  display: flex;
  align-items: center;
}

.location::before{
  content: "";
  display: table;
  width: 15px;
  height: 15px;
  background-image: url("https://find-your-job-files.s3.sa-east-1.amazonaws.com/icons/location.png");
  background-size: cover;
}

.description{
  margin: 15px;
  white-space: pre-wrap;
}

.subtitle{
  font-size: 1.2em;
  font-weight: 600;
}

.text{
  color: var(--black);
  width: 100%;
}

@media (max-width: 790px){
  .topBar{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .actions{
    margin: 15px 0 0 0;
  }
}

@media (max-width: 650px) {
  .container {
    position: fixed;
    top: 0;
    max-width: 100%;
    margin-right: 0;
    z-index: 4;
  }
  .closeMobile{
    position: absolute;
    top: 22px;
    right: 22px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url("https://find-your-job-files.s3.sa-east-1.amazonaws.com/icons/close.png");
    background-size: cover;
  }
}
