.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 90%;
  margin: 10px auto;
  padding: 0 15px;
}

.item{
  padding: 5px 10px;
  border: 1px solid var(--main-blue);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.item:hover{
  color: var(--white);
  background-color: var(--main-blue);
}

@media (max-width: 650px) {
  .list{
    width: 100%;
  }
}