.alert{
    position: fixed;
    bottom: 50px;
    left: 100%;
    width: 50%;
    padding: 20px;
    padding-left: 20px;
    padding-right: 50px;
    background-color: #f1f1f1;
    color: #111;
    font-weight: bold;
    text-align: left;
    border-radius: 10px;
    border-inline: solid 7px #111;
    box-shadow: 1px 1px 10px #111;
    transform: translateX(0%);
    animation: alertShow 2s ease-out 1 forwards;
    z-index: 1057;
}

.alertMessage{
  margin: 0;
}

.alertSuccess{
  color: #198754;
  border-inline: solid 7px #198754;
}

.alertError{
  color: #dc3545;
  border-inline: solid 7px #dc3545;
}

.alertWarning{
  color: #ffc107;
  border-inline: solid 7px #ffc107;
}

.alertClose{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 25px;
  height: 25px;
  background-image: url("https://find-your-job-files.s3.sa-east-1.amazonaws.com/icons/close.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat; 
  border: none;
}

.alertFadeout{
  animation: fadeout 2s ease-out 1 forwards
}

@keyframes alertShow{
  0%{
    opacity: 0;
    left: 100%;
    transform: translateX(0%);
  }
  50%{
    opacity: 1;
    left: 45%;
    transform: translateX(-50%);
  }
  70%{
    left: 55%;
    transform: translateX(-50%);
  }
  90%{
    left: 49%;
    transform: translateX(-50%);
  }
  100%{
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes fadeout{
  0%{
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  100%{
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}