.container{
  width: 50%;
  margin: 0 50px 50px 0;
}

.title{
  margin: 20px 0;
  font-size: 1.2em;
  font-weight: 600;
}

.text{
  width: 100%;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.7;
  color: var(--black);
}

@media (max-width: 600px){
  .container{
    width: 80%;
  }
  .text{
    margin: 0;
    line-height: 1.3;
  }
}