.container{
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  animation: in 0.5s ease 1 forwards;
}

@media (max-width: 600px){
  .container{
    flex-direction: column-reverse;
    align-items: center;
  }
}

@keyframes in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
