.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  animation: in 1s ease 1 forwards;
}

.title{
  font-size: 1.3em;
  font-weight: 700;
  color: var(--dark-blue);
  cursor: default;
}

.text{
  font-weight: 600;
  color: var(--main-blue);
  white-space: pre-line;
}

.contact{
  display: flex;
  align-items: center;
  flex-direction: column;
  white-space: pre-line;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 600;
  color: #222;
  border: 2px solid var(--main-blue);
  border-radius: 10px;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s ease;
}

.contact:hover{
  background-color: #258b8b88;
}

.links{
  display: flex;
  justify-content: center;
  width: 100%;
}

.link{
  width: 30px;
  margin: 5px 5px 0 5px;  
  font-size: 1.1em;
  font-weight: 600;
  color: #0A66C2;
}

@keyframes in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}