.loading{
    position: absolute;
    z-index: 1056;
    top: 50%;
    left: 50%;
}

.loading::after{
  position: fixed;
  content: "";
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -60px;
  width: 100px;
  height: 100px;
  border: 10px solid transparent;
  border-radius: 50%;
  border-top-color: black;
  animation: loading 1s linear infinite;
}
    
@keyframes loading {
  to{
      transform: rotate(1turn)
  }
}