.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 20px;
  box-shadow: 5px 0 5px #aaa;
}

.title{
  padding: 20px;  
  font-size: 1.5em;
  color: var(--light-gray);
  cursor: pointer;
}