.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 20px;
  box-shadow: 5px 0 5px #aaa;
}

.title{
  margin: 10px 0 10px 50px;
  padding: 10px;  
  font-size: 1.5em;
  color: var(--light-gray);
  cursor: pointer;
  transition: color 0.2s ease;
}

.title:hover{
  color: var(--main-blue);
}

.nav{
  display: flex;
  align-items: center;
}