.navigation{
  display: flex;
  justify-content: space-around;
}

.favCounter{
  position: relative;
  margin-left: 10px;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
}

.favCounter::before{
  content: "";
  display: table;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 35px;
  height: 35px;
  background-image: url("../../../public/filled-heart.png");
  background-size: contain;
  z-index: -1;
}

.favCounter::after{
  content: "";
  display: table;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 35px;
  height: 35px;
  background-image: url("../../../public/filled-heart.png");
  background-size: contain;
  z-index: -1;
}

.addFavoriteAnimation::after{
  animation: newFavorite 1.5s ease-in-out 1 forwards
}

.link{
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: var(--main-blue);
  font-weight: 700;
  cursor: pointer;
}

.link:hover{
  background-color: #eeeeee99;
}

.active{
  box-shadow: inset 0 -3px 0 var(--main-blue)
}

@keyframes newFavorite{
  0%{
    opacity: 1;
    transform: translate(-50%,-50%)
  }
  100%{
    opacity: 0;
    transform: translate(-50%,-200%)
  }
}