.navigation{
  display: flex;
  justify-content: space-around;
}

.link{
  padding: 20px;
  color: var(--main-blue);
  font-weight: 700;
  cursor: pointer;
  border-radius: 3px;
}
.link:hover{
  background-color: #eeeeee99;
}

.active{
  color: #eee;
  background-color: var(--main-blue)
}

.active:hover{
  background-color: var(--main-blue);
}
