.navigation{
  display: flex;
  justify-content: space-around;
}

.link{
  padding: 20px;
  color: rgb(37, 139, 139);
  font-weight: 700;
  cursor: pointer;
}

.link:hover{
  border-bottom: 3px solid rgb(37, 139, 139);
  background-color: #eeeeee99;
}