.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.savedTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15px auto 15px auto;
  padding: 0;
  font-size: 2em;
  color: var(--main-blue);
  cursor: default;
}

.savedTitle::before{
  align-self: center;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("../public/filled-heart.png");
  background-size: cover;
}