.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.savedTitle::before{
  align-self: center;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("https://find-your-job-files.s3.sa-east-1.amazonaws.com/icons/filled-heart.png");
  background-size: cover;
}

.redirectText{
  width: 100%;  
  margin: 20px 0 50px 0;
  text-align: center;
  font-weight: 600;
}

.redirectLink{
  color: var(--main-blue);
  cursor: pointer;
}