.form{
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--black);
  animation: slide 1s ease 1 forwards;
}

.formControl{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
}

.input{
  width: 100%;
  margin: 10px 0 25px 0;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  border: 2px solid var(--main-blue);
  transition: box-shadow 0.4s ease;
}

.input:focus{
  box-shadow: 0 0 10px var(--main-blue);
  outline: none;
}

.label{
  text-align: left;
  font-size: 0.8em;
  color: var(--main-blue);
}

.required{
  font-size: 1em;
  color: #a70000;
}

.button{
  margin-top: 25px;
  padding: 15px 0px;
  font-size: 1em;
  font-weight: bold;
  background-color: var(--main-blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  transition: 0.1s ease;
}

.button:active{
  background-color: var(--dark-blue);
  color: #fff;
}

.button:disabled{
  color: #aaa;
  background-color: var(--dark-blue);
}

.error{
  color: var(--red-error); 
}

.errorInput{
  border-color: var(--red-error) !important;
}

.errorInput:focus{
  box-shadow: 0 0 10px var(--red-error);
  outline: none;
}

.errorMessage{
  display: block;
  transform: translateY(-20px);
  font-size: 0.8em;
  text-align: left;
  color: var(--red-error);
  white-space: pre-line;
}

@keyframes slide{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}